%section {
    padding-top: 100px;
    padding-bottom: 100px;
}

%reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%reset-link {
    text-decoration: none;
    color: currentColor;
}