:root {
    --main-font: "Roboto", sans-serif;
    --txt-cl: #2C2C2C;
    --btn-cl: #BBF330;
    --accent-btn-cl: #B5FF00;
    --border-btn-cl: #7EB101;
    --border-accent-btn-cl: #597D00;
    --slider-btn-cl: #2C2C2C;
    --slider-btn-accent-cl: #7EB101;
    --subscribe-btn-border-cl: #7EB101;
    --subscribe-btn-bg-accent-cl: #FFE550;
    --input-default-cl: #FFE550;
    --input-right-cl: #7EB101;
    --input-error-cl: #FF705D;

}