<section class="favorites">
  <div class="conteiner">
    <h2 class="favorites__title title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/gamburger-223.jpg 223w,
                ./images/favorites/jpg/gamburger-268.jpg 268w,
                ./images/favorites/jpg/gamburger-315.jpg 315w,
                ./images/favorites/jpg/gamburger-446.jpg 446w,
                ./images/favorites/jpg/gamburger-536.jpg 536w,
                ./images/favorites/jpg/gamburger-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/gamburger-268.jpg"
              alt="burger"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/pasta-223.jpg 223w,
                ./images/favorites/jpg/pasta-268.jpg 268w,
                ./images/favorites/jpg/pasta-315.jpg 315w,
                ./images/favorites/jpg/pasta-446.jpg 446w,
                ./images/favorites/jpg/pasta-536.jpg 536w,
                ./images/favorites/jpg/pasta-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/pasta-268.jpg"
              alt="pasta"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/pizza-223.jpg 223w,
                ./images/favorites/jpg/pizza-268.jpg 268w,
                ./images/favorites/jpg/pizza-315.jpg 315w,
                ./images/favorites/jpg/pizza-446.jpg 446w,
                ./images/favorites/jpg/pizza-536.jpg 536w,
                ./images/favorites/jpg/pizza-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/pizza-268.jpg"
              alt="pizza"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/chicken-268.jpg 268w,
                ./images/favorites/jpg/chicken-315.jpg 315w,
                ./images/favorites/jpg/chicken-536.jpg 536w,
                ./images/favorites/jpg/chicken-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/chicken-268.jpg"
              alt="chicken"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/salat-268.jpg 268w,
                ./images/favorites/jpg/salat-315.jpg 315w,
                ./images/favorites/jpg/salat-536.jpg 536w,
                ./images/favorites/jpg/salat-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/salat-268.jpg"
              alt="salad"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link">
          <div class="favorites__element">
            <img
              class="favorites__img"
              srcset="
                ./images/favorites/jpg/borshch-268.jpg 268w,
                ./images/favorites/jpg/borshch-315.jpg 315w,
                ./images/favorites/jpg/borshch-536.jpg 536w,
                ./images/favorites/jpg/borshch-630.jpg 630w
              "
              sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
              src="./images/favorites/jpg/borshch-268.jpg"
              alt="borshch"
              width="315"
              height="315"
            />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
