<header class="header">

    <div class="conteiner">
        <nav class="header__box">
            <div class="header__logo"></div>
            <ul class="header__list">
                <li class="header__item"></li>
                <li class="header__item"></li>
                <li class="header__item"></li>
                <li class="header__item"></li>
                <li class="header__item"></li>
            </ul>
        </nav>
        <button class="header__button"></button>
    </div>

    <div class="header__mob">
        <button class="header__mob-button"></button>
        <ul class="header__mob-list">
            <li class="header__mob-item"></li>
            <li class="header__mob-item"></li>
            <li class="header__mob-item"></li>
            <li class="header__mob-item"></li>
            <li class="header__mob-item"></li>
        </ul>
    </div>

</header>