<header class="header conteiner"">

    <div class="">
        <nav class="header__box">
            <div">
                <a class="header__logo href="">
                    <svg width="66" height="52">
                        <use href="./images/icons.svg#logo-icon"></use>
                    </svg>
                </a>
            </div>
            <ul class="header__list">
                <li class="header__item item-color">Home</li>
                <li class="header__item">About</li>
                <li class="header__item">Service</li>
                <li class="header__item">Menu</li>
                <li class="header__item">Contact</li>
            </ul>
        </nav>

        <button type="button" class="header__button-mob">
            <svg width="28" height="28">
                <use href="./images/icons.svg#burger-icon"></use>
            </svg>
        </button>

        <button type="button" width="100" height="32" class="header__button"><span class="header__batoon-text">Order Now</span></button>
    </div>

    <!-- <div class="header__mob">
        <nav>
            <button class="header__mob-button"></button>
            <ul class="header__mob-list">
                <li class="header__mob-item">Home</li>
                <li class="header__mob-item">About</li>
                <li class="header__mob-item">Service</li>
                <li class="header__mob-item">Menu</li>
                <li class="header__mob-item">Contact</li>
            </ul>
        </nav>
    </div> -->

</header>