<section class="hero" id="service">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__btn" type="button">Order Now</button>
  </div>

  <img
    class="hero__img"
    srcset="
      ./images/hero/png/foto-1-292.png   292w,
      ./images/hero/png/foto-1-528.png   528w,
      ./images/hero/png/foto-1-584.png   584w,
      ./images/hero/png/foto-1-1056.png 1056w
    "
    sizes="(min-width: 1280px) 396px, (min-width: 768px) 257px, 100vw"
    src="./images/hero/png/foto-1-292.png"
    alt="apple"
    width="202"
    height="256"
  />
  <svg class="hero__icon-left" width="48" height="40">
    <use href="./images/icons.svg#slider-icon-left"></use>
  </svg>
  <svg class="hero__icon-right" width="48" height="40">
    <use href="./images/icons.svg#slider-icon-right"></use>
  </svg>
</section>
