<section class="offerings">
  <div class="offerings__container-main">
    <ul class="offerings__list">
      <li class="offerings__item">
        <img
          class="offerings__img"
          srcset="
            ./images/offerings/png/apple-mob-202.png  202w,
            ./images/offerings/png/apple-mob-404.png  404w,
            ./images/offerings/png/apple-tab-257.png  257w,
            ./images/offerings/png/apple-tab-514.png  514w,
            ./images/offerings/png/apple-desk-396.png 396w,
            ./images/offerings/png/apple-desk-792.png 792w
          "
          sizes="(min-width: 1280px) 396px, (min-width: 768px) 257px, 100vw"
          src="./images/offerings/png/apple-mob-202.png"
          alt="apple"
          width="202"
          height="256"
        />
      </li>
      <li class="offerings__item">
        <img
          class="offerings__img"
          srcset="
            ./images/offerings/png/apple-tab-166.png 166w,
            ./images/offerings/png/apple-tab-332.png 332w
          "
          sizes="(min-width: 768px) 166px"
          src="./images/offerings/png/apple-tab-166.png"
          alt="apple"
          width="166"
          height="211"
        />
      </li>
      <li class="offerings__item">
        <img
          class="offerings__img"
          srcset="
            ./images/offerings/png/apple-tab-108.png 108w,
            ./images/offerings/png/apple-tab-216.png 216w
          "
          sizes="(min-width: 768px) 108px"
          src="./images/offerings/png/apple-tab-108.png"
          alt="apple"
          width="108"
          height="136"
        />
      </li>
    </ul>
    <ul class="offerings__list-bg">
      <li class="offerings__item-bg">
        <img
          class="offerings__img-bg"
          srcset="
            ./images/offerings/png/circle_white-mob-256.png    256w,
            ./images/offerings/png/circle_white-mob-512.png    512w,
            ./images/offerings/png/circle_white-tab-326.png    326w,
            ./images/offerings/png/circle_white-tab-652.png    652w,
            ./images/offerings/png/circle_white-desk-502.png   502w,
            ./images/offerings/png/circle_white-desk-1004.png 1004w
          "
          sizes="(min-width: 1280px) 502px, (min-width: 768px) 326px, 100vw"
          src="./images/offerings/png/circle_white-mob-256.png"
          alt="circle_white"
          width="502"
          height="502"
        />
      </li>
      <li class="offerings__item-bg">
        <img
          class="offerings__img-bg"
          srcset="
            ./images/offerings/png/shadow_mob-128.png  128w,
            ./images/offerings/png/shadow_mob-256.png  256w,
            ./images/offerings/png/shadow_tab-164.png  164w,
            ./images/offerings/png/shadow_tab-328.png  652w,
            ./images/offerings/png/shadow_desk-252.png 252w,
            ./images/offerings/png/shadow_desk-504.png 504w
          "
          sizes="(min-width: 1280px) 252px, (min-width: 768px) 164px, 100vw"
          src="./images/offerings/png/shadow_mob-128.png"
          alt="shadow"
          width="252"
          height="87"
        />
      </li>
    </ul>

    <div class="offerings__main">
      <h2 class="offerings__title">What's Special About Our Offerings</h2>
      <p class="offerings__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <div class="offerings__services-container">
        <div class="offerings__services">
          <div class="offerings__services-icon">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/icons.svg#rocket-icon"></use>
            </svg>
          </div>
          <h2 class="offerings__services-title">Fasest Delivery</h2>
          <p class="offerings__services-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
        <div class="offerings__services">
          <div class="offerings__services-icon">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/icons.svg#touch-app-icon"></use>
            </svg>
          </div>
          <h2 class="offerings__services-title">Easy to order</h2>
          <p class="offerings__services-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
      </div>
      <div class="offerings__container">
        <button class="offerings__btn" type="button">Order Now</button>
        <button class="offerings__btn" type="button">
          Read More
          <svg class="offerings__icon-btn" width="5" height="9">
            <use href="./images/icons.svg#Vector-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
