.footer__btn {
  min-width: 103px;
  font-size: 13px;
  line-height: 1.5;
  padding: 10px 17px;
  background-color: var(--bgcolors);
  border: 0.854167px solid var(--border-btn-cl);
  border-radius: 30px;
  transition: background-color var(--time-cubic);

  &:active,
  &:hover,
  &:focus {
    background-color: var(--subscribe-btn-bg-accent-cl);
  }

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    align-self: flex-start;
  }
}
